<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<h3>Tenner Deals</h3> 
<h1>Dear<b> <%= @newsletter.name =%></b></h1>
<p> Thank you for signing up to tennerdeals </p>
<table> 
<tr>
<th colspan="2">Qty</th>
<th>Description</th></tr> 
 </table>
 
 </body>
</html>